html {
    background-image: url("index background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

header {
    background-color: #4e4e4e;
      padding: 0px;
      text-align: center;
      height: 60px;
      display: flex;
}

.logo {
    text-align: left;
    padding: 5px;
    padding-right: 2.5%;
}

.tabs {
    color: #cecece;
    font-size: 95%;
    padding: 19.54px;
    text-decoration: none;
}

.tabs:hover {
    color: #fff;
    font-size: 100%;
    outline: 1px solid #fff;
    outline-offset: -7px;
    border-radius: 3px;
}

body {
    margin: 0;
    height: 100vh;
    place-items: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
}
