body {
    background-color: #272727;
}

#main {
    display: flex;
}

.mainLook {
    align-items: center;
    margin: 10px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #616161;
}

#itemname1, #itemname2, #itemname3, #itemname4 {
    height: 30px;
}

#count1, #count2, #count3, #count4 {
    width: 70px;
    height: 30px;
}

#add1, #add2, #add3, #add4 {
    border-radius: 8px;
    margin: 10px;
    height: 35px;
}

#total1, #total2, #total3, #total4 {
    margin: 10px;
    height: 30px;
    color: #ffffff;
    font-size: 30px;
    background-color: transparent;
}

#barcode {
    margin: 10px;
    color: #ffffff;
    font-size: 30px;
    background-color: transparent;
}

#product-name {
    margin: 10px;
    color: #ffffff;
    font-size: 30px;
    background-color: transparent;
}

#new-scan {
    margin: 10px;
    height: 30px;
    color: #ffffff;
}

#deviceSelection {
    margin: 10px;
    height: 30px;
    color: #ffffff;
}

#inputSelection {
    margin: 10px;
    height: 30px;
    color: #ffffff;
}